*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//default font size to 10px across browsers
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
}

.social {
    text-align: center;
    font-size: 1.6rem;
}