.left-arrow-1 {
    height: 0.5rem;
    background: #505050;
    border-radius: 5rem;
    transform: rotate(130deg);
    width: 2.5rem;
    position: absolute;
    top: 28%;
    left: 22%;
}

.left-arrow-2 {
    height: 0.5rem;
    background: $grey-1;
    border-radius: 5rem;
    transform: rotate(220deg);
    width: 2.5rem;
    position: absolute;
    top: 60%;
    left: 23%;
}

.right-arrow-1 {
    height: 0.5rem;
    background: $grey-1;
    border-radius: 5rem;
    transform: rotate(140deg);
    width: 2.5rem;
    position: absolute;
    top: 60%;
    left: 29%;
}

.right-arrow-2 {
    height: 0.5rem;
    background: #505050;
    border-radius: 5rem;
    transform: rotate(225deg);
    width: 2.5rem;
    position: absolute;
    top: 29%;
    left: 29%;
}

.close-arrow-1 {
    height: 0.4rem;
    background: $grey-1;
    border-radius: 5rem;
    transform: rotate(135deg);
    width: 3rem;
    position: absolute;
    top: 60%;
    left: 29%;
}

.close-arrow-2 {
    height: 0.4rem;
    background: #505050;
    border-radius: 5rem;
    transform: rotate(225deg);
    width: 3rem;
    position: absolute;
    top: 29%;
    left: 29%;
}
